##JUSTIFICATIVA DAS ESCOLHAS

**Pré-processamento de dados:**

Referente ao pré-processamento de dados, usamos o MinMaxScaler do Sklearn, que é uma técnica de pré-processamento que coloca os dados na mesma escala. Isso faz com que os modelos trabalhem com os dados de forma mais eficiente, melhorando os resultados.

**Dos atributos categórico e não categóricos:**

Sobre os atributos, os categóricos são os tomates resistentes a praga, onde apresentam resultados significativos, enquanto os não categóricos foram afetados pela praga, não podendo ser consumível.

**Escolha do algoritmo escolhido:**

Escolhemos o KNN por além de ser simples de se aplicar, e servir para vários segmentos de negócios como por exemplo: finanças e saúde, faz total sentido com o tema atual e de como queremos resolver o problema dá classificação de tomates que são resistentes ao fungo ou não.

**Métricas adotadas para avaliar a performance do modelo criado:**

O modelo criado se trata de um não paramétrico, que classifica com base na similaridade entre elementos, sendo assim, muito versátil para datasets pequenos e com relação não lineares. Esse modelo se encaixa perfeitamente em datasets pequenos. As métricas adotadas são de classificação, teste e precisão dos resultados.

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
dataset = pd.read_csv('/home/dataset_tomate.csv')

In [29]:
dataset.head()

   id  trat  NDVI_d28  SAVI_d28  ...  GNDVI_d08   MCARI1_d08    SR_d08  Classe
0   1   102  0.798284  1.197380  ...   0.636865  13352.81776  5.421333       1
1   2    11  0.806955  1.210392  ...   0.669113  16190.82038  6.491860       0
2   3   103  0.825104  1.237610  ...   0.655206  15313.16198  6.551268       1
3   4   112  0.788884  1.183279  ...   0.640739  16562.17418  6.608121       1
4   5   114  0.764986  1.147432  ...   0.642373  13760.95583  5.665567       1

[5 rows x 23 columns]

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          132 non-null    int64
 1   trat        132 non-null    int64
 2   NDVI_d28    132 non-null    float64
 3   SAVI_d28    132 non-null    float64
 4   GNDVI_d28   132 non-null    float64
 5   MCARI1_d28  132 non-null    float64
 6   SR_d28      132 non-null    float64
 7   NDVI_d01    132 non-null    float64
 8   SAVI_d01    132 non-null    float64
 9   GNDVI_d01   132 non-null    float64
 10  MCARI1_d01  132 non-null    float64
 11  SR_d01      132 non-null    float64
 12  NDVI_d04    132 non-null    float64
 13  SAVI_d04    132 non-null    float64
 14  GNDVI_d04   132 non-null    float64
 15  MCARI1_d04  132 non-null    float64
 16  SR_d04      132 non-null    float64
 17  NDVI_d08    132 non-null    float64
 18  SAVI_d08    132 non-null    float64
 19  GNDVI_d08   132 non-null    float64
 20  MCARI1_d08  132 non-null    float64
 21  SR_d08      132 non-null    float64
 22  Classe      132 non-null    int64
dtypes: float64(20), int64(3)
memory usage: 23.8 KB

Normalizando os dados

In [31]:
from sklearn.preprocessing import MinMaxScaler

In [32]:
mms=MinMaxScaler()

In [33]:
dataset.head()

   id  trat  NDVI_d28  SAVI_d28  ...  GNDVI_d08   MCARI1_d08    SR_d08  Classe
0   1   102  0.798284  1.197380  ...   0.636865  13352.81776  5.421333       1
1   2    11  0.806955  1.210392  ...   0.669113  16190.82038  6.491860       0
2   3   103  0.825104  1.237610  ...   0.655206  15313.16198  6.551268       1
3   4   112  0.788884  1.183279  ...   0.640739  16562.17418  6.608121       1
4   5   114  0.764986  1.147432  ...   0.642373  13760.95583  5.665567       1

[5 rows x 23 columns]

Separando nas variáveis X e Y

In [34]:
X=dataset.iloc[:,1:4]

In [35]:
X=pd.get_dummies(X)

In [36]:
X=X.values

In [37]:
X

array([[102.        ,   0.79828435,   1.19738016],
       [ 11.        ,   0.80695467,   1.21039201],
       [103.        ,   0.82510372,   1.23761013],
       [112.        ,   0.78888402,   1.18327902],
       [114.        ,   0.76498594,   1.14743162],
       [104.        ,   0.80620372,   1.20925941],
       [113.        ,   0.79535775,   1.19298785],
       [101.        ,   0.80764651,   1.21142416],
       [111.        ,   0.79008041,   1.18507413],
       [ 12.        ,   0.78940291,   1.18406224],
       [122.        ,   0.7878458 ,   1.18172248],
       [ 13.        ,   0.80600613,   1.20896606],
       [132.        ,   0.80208221,   1.20307736],
       [134.        ,   0.81337257,   1.22001435],
       [121.        ,   0.79308841,   1.18958783],
       [123.        ,   0.79993079,   1.19985089],
       [133.        ,   0.80587988,   1.20877294],
       [131.        ,   0.78123425,   1.17180539],
       [124.        ,   0.81480557,   1.22216416],
       [ 14.        ,   0.7784079 ,   1.16756637],
       [152.        ,   0.79217903,   1.18822129],
       [161.        ,   0.77279869,   1.1591508 ],
       [143.        ,   0.82786736,   1.24175638],
       [151.        ,   0.7806298 ,   1.17089877],
       [144.        ,   0.82130218,   1.23190864],
       [153.        ,   0.79912406,   1.19863861],
       [141.        ,   0.81766808,   1.22645782],
       [142.        ,   0.82321048,   1.23477058],
       [154.        ,   0.7693379 ,   1.15395847],
       [162.        ,   0.7882659 ,   1.18235133],
       [163.        ,   0.76004604,   1.14001845],
       [172.        ,   0.78678937,   1.18013935],
       [183.        ,   0.78515181,   1.17768103],
       [181.        ,   0.80367556,   1.20547028],
       [164.        ,   0.76376083,   1.14559411],
       [182.        ,   0.80487079,   1.20726042],
       [174.        ,   0.82055297,   1.2307865 ],
       [171.        ,   0.78579091,   1.17864325],
       [184.        ,   0.7879899 ,   1.18193828],
       [173.        ,   0.81587788,   1.22377262],
       [191.        ,   0.65967409,   0.98946671],
       [211.        ,   0.77402306,   1.16099095],
       [203.        ,   0.82569556,   1.23849751],
       [194.        ,   0.69934711,   1.0489734 ],
       [192.        ,   0.70188476,   1.05277778],
       [ 21.        ,   0.77793719,   1.16686321],
       [204.        ,   0.80658009,   1.2098232 ],
       [201.        ,   0.75903595,   1.13850901],
       [202.        ,   0.79937683,   1.19901976],
       [193.        ,   0.66937807,   1.00401771],
       [212.        ,   0.77277646,   1.15911864],
       [213.        ,   0.77700084,   1.16545391],
       [214.        ,   0.78090259,   1.17130512],
       [233.        ,   0.80296256,   1.20439707],
       [222.        ,   0.79927455,   1.19886655],
       [223.        ,   0.77286183,   1.1592468 ],
       [ 23.        ,   0.79370591,   1.19051446],
       [ 22.        ,   0.78482003,   1.17718747],
       [231.        ,   0.79487142,   1.19226331],
       [224.        ,   0.80479205,   1.20714251],
       [234.        ,   0.77722246,   1.16578746],
       [232.        ,   0.75421096,   1.13126815],
       [221.        ,   0.76890906,   1.1533198 ],
       [ 24.        ,   0.7792892 ,   1.16888973],
       [241.        ,   0.77931818,   1.16893591],
       [262.        ,   0.78129858,   1.17190485],
       [251.        ,   0.75518483,   1.1327335 ],
       [243.        ,   0.78514352,   1.17766767],
       [244.        ,   0.80663522,   1.20990613],
       [252.        ,   0.7911839 ,   1.18673313],
       [253.        ,   0.80446925,   1.20665994],
       [254.        ,   0.78660936,   1.17986786],
       [242.        ,   0.80418298,   1.2062299 ],
       [261.        ,   0.76560095,   1.14835743],
       [263.        ,   0.79694153,   1.19536565],
       [264.        ,   0.75752495,   1.13624143],
       [291.        ,   0.81130584,   1.21691823],
       [272.        ,   0.76541833,   1.1480825 ],
       [273.        ,   0.80332753,   1.20494619],
       [271.        ,   0.77073093,   1.15605317],
       [281.        ,   0.7570843 ,   1.13558346],
       [274.        ,   0.77173353,   1.15755304],
       [282.        ,   0.79919725,   1.1987514 ],
       [284.        ,   0.75086308,   1.1262467 ],
       [283.        ,   0.7965506 ,   1.19478016],
       [292.        ,   0.79260779,   1.1888682 ],
       [293.        ,   0.80498991,   1.20743936],
       [301.        ,   0.77330697,   1.15991853],
       [294.        ,   0.80693762,   1.21036208],
       [312.        ,   0.77695288,   1.165389  ],
       [302.        ,   0.76608794,   1.14908924],
       [304.        ,   0.76829503,   1.15239892],
       [313.        ,   0.77229486,   1.15839802],
       [303.        ,   0.77976799,   1.16960648],
       [ 31.        ,   0.80258904,   1.20384109],
       [311.        ,   0.78742947,   1.18110613],
       [ 32.        ,   0.79012735,   1.18514694],
       [314.        ,   0.79079153,   1.18614183],
       [324.        ,   0.77195564,   1.15788659],
       [334.        ,   0.66666471,   0.99995354],
       [332.        ,   0.70285336,   1.05423793],
       [322.        ,   0.77566979,   1.1634611 ],
       [ 33.        ,   0.80213504,   1.20315906],
       [323.        ,   0.76247978,   1.14367425],
       [333.        ,   0.64908469,   0.97358556],
       [331.        ,   0.68409374,   1.02610112],
       [321.        ,   0.77747178,   1.16616718],
       [ 34.        ,   0.79454988,   1.19178105],
       [ 41.        ,   0.80714841,   1.21067978],
       [ 42.        ,   0.80783358,   1.21170782],
       [ 51.        ,   0.68108686,   1.0215852 ],
       [ 62.        ,   0.79301964,   1.18948299],
       [ 63.        ,   0.82153789,   1.23226203],
       [ 43.        ,   0.8016271 ,   1.20239642],
       [ 61.        ,   0.78976467,   1.1846016 ],
       [ 44.        ,   0.79751416,   1.19622676],
       [ 53.        ,   0.70122581,   1.05178805],
       [ 64.        ,   0.79177551,   1.18761823],
       [ 71.        ,   0.78272501,   1.17404232],
       [ 54.        ,   0.7046799 ,   1.05697131],
       [ 52.        ,   0.66711102,   1.00061826],
       [ 72.        ,   0.81233606,   1.21845927],
       [ 73.        ,   0.80687807,   1.21027119],
       [ 74.        ,   0.80267022,   1.20395885],
       [ 94.        ,   0.80102289,   1.2014886 ],
       [ 91.        ,   0.77362897,   1.16039686],
       [ 83.        ,   0.80606269,   1.20904814],
       [ 82.        ,   0.75021017,   1.12526758],
       [ 81.        ,   0.80757582,   1.21132059],
       [ 84.        ,   0.7812987 ,   1.1719033 ],
       [ 92.        ,   0.76072228,   1.1410366 ],
       [ 93.        ,   0.77517789,   1.16272028]])

In [38]:
Y=dataset.iloc[:,-1].values

Separando em amostras de treino e teste

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_treino,X_teste,Y_treino,Y_teste=train_test_split(X,Y,test_size=0.25,random_state=0)

Aplicando modelo KNN

In [41]:
from sklearn.neighbors import KNeighborsClassifier

In [42]:
vizinhos = []
acc_treino = []
acc_teste = []
std = []

In [43]:
for i in range(2,11):
    vizinhos.append(i)
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_treino,Y_treino)
    acc_treino.append(knn.score(X_treino,Y_treino))
    acc_teste.append(knn.score(X_teste,Y_teste))
    Y_previsto = knn.predict(X_teste)
    std.append(np.std(Y_previsto==Y_teste)/np.sqrt(Y_previsto.shape[0]))

In [44]:
knn=KNeighborsClassifier(n_neighbors=4)

In [45]:
knn.fit(X_treino,Y_treino)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [46]:
Y_previsto = knn.predict(X_teste)
y_prob = knn.predict_proba(X_teste)

Gerando matriz de confusão

In [47]:
from sklearn.metrics import confusion_matrix

Calculando métricas

In [48]:
from sklearn.metrics import classification_report,f1_score,precision_score,average_precision_score,recall_score,accuracy_score

Relatório de classificação

In [26]:
cr = classification_report(Y_teste,Y_previsto,labels=[0,1])
print(cr)

              precision    recall  f1-score   support

           0       0.87      1.00      0.93        13
           1       1.00      0.90      0.95        20

    accuracy                           0.94        33
   macro avg       0.93      0.95      0.94        33
weighted avg       0.95      0.94      0.94        33